html {
  min-height: 100%;
  position: relative;
  font-family: var(--system-fonts);

  &.wf-active {
    font-family: var(--font);
  }
}

body {
  font: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--black);
}

input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  color: var(--primary-color);
  font-size: rem(14);
  line-height: rem(20);
}
