html {
  min-height: 100%;
  position: relative;
  font-family: var(--system-fonts);

  &.wf-active {
    font-family: var(--font);
  }
}

body {
  font: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
