@import '../../assets/styles/abstract/Functions.scss';

.rates {
  overflow: hidden;
  margin-bottom: rem(36);

  &-header {
    margin-bottom: rem(24);
    padding-right: rem(32);
  }

  &-cards {
    overflow: auto;
    padding-bottom: rem(30);
    padding-left: rem(14);
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: linear-gradient(
      180deg,
      #000,
      #000 calc(100% - 10px),
      transparent calc(100% - 10px),
      transparent
    );

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.rateCard {
  padding: rem(16) rem(24);
  background-color: var(--white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  border-radius: rem(6);
  margin-right: rem(32);
  min-width: rem(250);
  min-height: rem(132);
}
