@import '../../assets/styles/abstract/Functions.scss';
@import '../../assets/styles/abstract/Breakpoints.scss';
@import '../../assets/styles/abstract/Mixins.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(50);
  transition: all 0.225s ease;
  font-weight: var(--f-medium);

  &--primary {
    background-color: var(--primary-color);
    color: var(--white);

    &:hover {
      background-color: var(--primary-color-darker);
    }
  }

  &--secondary {
    color: var(--primary-color);
    background-color: var(--secondary-color);

    &:hover {
      background-color: #e9dcfa;
    }
  }

  &--big {
    font-size: rem(16);
    line-height: rem(19);
    max-width: rem(160);
    min-width: rem(160);
    height: rem(44);

    @include breakpoint(sm) {
      max-width: rem(186);
      min-width: rem(186);
    }
  }

  &--small {
    height: rem(42);
    font-size: rem(15);
    line-height: rem(15);
    max-width: rem(146);
  }
}
