@import '../../assets/styles/abstract/Functions.scss';
@import '../../assets/styles/abstract/Breakpoints.scss';
@import '../../assets/styles/abstract/Mixins.scss';

.wallets {
  padding-right: rem(24);
}

.table {
  margin-top: rem(36);

  &-header {
    margin-bottom: rem(18);
    padding: 0 rem(24) 0 rem(36);

    &_item {
      flex: 1;
      color: var(--gray-medium);
      font-size: rem(16);
      line-height: rem(19);
    }
  }

  &-row {
    background-color: var(--white);
    padding: rem(14) rem(14) rem(14) rem(14);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: rem(6);
    margin-bottom: rem(8);
    flex-wrap: wrap;

    @include breakpoint(sm) {
      flex-wrap: nowrap;
      padding: rem(14) rem(24) rem(14) rem(24);
    }

    @include breakpoint(md) {
      padding: rem(14) rem(24) rem(14) rem(36);
    }

    &_item {
      flex: auto;
      margin: rem(12) 0;

      @include breakpoint(sm) {
        flex: 1;
        margin: 0;
      }

      &:before {
        content: attr(data-title);
        font-size: rem(14);
        color: var(--gray-medium);
        display: block;
        font-weight: var(--f-bold);

        @include breakpoint(sm) {
          display: none;
        }
      }
    }

    .wallet-balance {
      font-weight: var(--f-bold);
    }

    .wallet-equivalent {
      text-align: left;

      @include breakpoint(sm) {
        text-align: right;
      }
    }

    .wallet-percentage {
      text-align: left;

      @include breakpoint(sm) {
        text-align: center;
      }
    }
  }
}

.currency-icon {
  min-width: rem(45);
  min-height: rem(45);
  border-radius: 100%;
  margin-right: rem(8);

  &--ars {
    background-color: var(--ars);
  }
  &--btc {
    background-color: var(--btc);
  }
  &--eth {
    background-color: var(--eth);
  }
  &--usdc {
    background-color: var(--usdc);
  }
  &--dai {
    background-color: var(--dai);
  }
  &--ltc {
    background-color: var(--ltc);
  }
}

.wallet-id {
  max-width: rem(25);
  color: var(--gray-medium);

  @include breakpoint(sm) {
    max-width: rem(40);
  }
}

.wallet-currency {
  max-width: 100%;

  @include breakpoint(sm) {
    max-width: 25%;
  }
}

.wallet-balance {
  max-width: 100%;

  @include breakpoint(sm) {
    max-width: 16%;
  }
}

.wallet-equivalent {
  max-width: 100%;

  @include breakpoint(sm) {
    max-width: 16%;
  }
}

.wallet-percentage {
  max-width: 100%;

  @include breakpoint(sm) {
    max-width: 16%;
  }
}

.wallet-action {
  max-width: 100%;
  margin-top: rem(25);

  @include breakpoint(sm) {
    max-width: rem(146);
    margin-top: 0;
  }

  .btn--small {
    max-width: 100%;

    @include breakpoint(sm) {
      max-width: rem(146);
    }
  }
}
