@import '../../assets/styles/abstract/Functions.scss';
@import '../../assets/styles/abstract/Breakpoints.scss';
@import '../../assets/styles/abstract/Mixins.scss';

.main {
  float: none;
  width: 100%;
  background-color: var(--background-color);
  padding: rem(32) 0 rem(32) rem(32);

  @include breakpoint(md) {
    width: calc(100% - 280px);
    float: right;
  }
}
