@import '../../assets/styles/abstract/Functions.scss';
@import '../../assets/styles/abstract/Breakpoints.scss';
@import '../../assets/styles/abstract/Mixins.scss';

.header {
  padding: rem(24) rem(32) rem(14) rem(32);
  background-color: var(--white);
  width: 100%;
  float: none;
  border-bottom: 1px solid #d8d9e2;

  @include breakpoint(md) {
    width: calc(100% - 280px);
    float: right;
  }

  &-top {
    margin-bottom: rem(35);
  }

  &-balance {
    margin-bottom: rem(24);
    text-align: center;

    @include breakpoint(sm) {
      margin-bottom: 0;
      text-align: left;
    }

    &_label {
      color: var(--gray-medium);
      font-size: rem(16);
      line-height: rem(16);
      margin-bottom: rem(7);
      font-weight: var(--f-medium);
    }

    &_total {
      font-weight: var(--f-bold);
      font-size: rem(32);
      line-height: rem(38);
      margin-right: rem(8);
    }
  }

  &-buttons {
    .btn {
      &:last-child {
        margin-left: rem(12);
      }
    }
  }
}

.section-name {
  font-size: rem(16);
  line-height: rem(19);
  font-weight: var(--f-medium);
}

.notification {
  &-dot {
    top: rem(-3);
    right: rem(-4);
    background-color: #e81f37;
    font-size: rem(12);
    line-height: rem(14);
    color: white;
    border-radius: 100%;
    width: rem(18);
    height: rem(18);
  }
}

.header-help {
  margin-left: rem(24);
}

.menu-toggle {
  width: 24px;
  height: 24px;
  padding: 5px 2px;
  margin-right: rem(16);

  &_line {
    width: 100%;
    height: rem(2);
    padding-right: 0;
    padding-bottom: 0;
    border-radius: rem(20);
    background-color: var(--black);
    transform-style: preserve-3d;
    transition: all 0.225s ease;

    &:nth-child(2) {
      margin-top: rem(4);
      margin-bottom: rem(4);
    }
  }

  &.is-open {
    .menu-toggle_line {
      &:first-of-type {
        transform: translate3d(0px, 6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }

      &:last-of-type {
        transform: translate3d(0px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
      }
    }
  }
}
