@import '../../assets/styles/abstract/Functions.scss';
@import '../../assets/styles/abstract/Breakpoints.scss';
@import '../../assets/styles/abstract/Mixins.scss';

.sidebar {
  width: 100%;
  border-right: 1px solid #d8d9e2;
  float: left;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem(32) rem(24) rem(24) rem(24);
  background-color: var(--white);
  top: rem(60);
  transition: transform 0.225s ease;
  z-index: 2;
  -webkit-transform: translateZ(0) translateX(-100%);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;

  @include breakpoint(md) {
    transform: none;
    top: 0;
    width: rem(280);
  }

  &.is-open {
    transform: translateX(0);
  }

  &-header {
    margin-bottom: rem(35);

    h1 {
      font-size: rem(18);
      line-height: rem(21);
    }

    &_logo {
      width: rem(56);
      height: rem(56);
      background-color: #f4ecfe;
      border-radius: 100%;
      margin-right: rem(12);
      position: relative;

      span {
        height: rem(18);
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: -3px;
        border-radius: 100%;
        background: linear-gradient(90deg, #ff08d7 0%, #8b43e0 100%);
        z-index: -1;
      }
    }
  }

  &-item {
    font-size: rem(16);
    color: var(--gray-medium);
    padding: rem(15) rem(22);
    display: block;
    transition: color 0.225s ease;
    width: 100%;
    font-weight: var(--f-medium);

    &:hover {
      color: var(--primary-color);
    }

    &_icon {
      margin-right: rem(12);
    }

    &.is-active {
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
      border-radius: rem(45);
      color: var(--primary-color);

      .sidebar-item_icon path {
        fill: var(--primary-color);
      }
    }
  }

  &-products {
    margin-top: rem(64);

    &_title {
      text-transform: uppercase;
      font-size: rem(12);
      line-height: rem(20);
      margin-left: rem(20);
      font-weight: var(--f-bold);
      color: #d8d9e2;
    }
  }
}
