.sidebar {
  width: 280px;
  border-right: 1px solid #d8d9e2;
  float: left;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem(32) rem(24) rem(24) rem(24);

  &-item {
    font-size: rem(16);
    color: var(--gray-medium);
    padding: 15px 22px;
    display: block;
    transition: color 0.225s ease;

    &:hover {
      color: var(--primary-color);
    }

    &.is-selected {
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
      border-radius: 45;
      color: var(--primary-color);
    }
  }
}
