:root {
  --primary-color: #7908ff;
  --primary-color-darker: #6c07e4;
  --secondary-color: #f4ecfe;
  --background-color: #fdfcff;
  --gray-medium: #a5a7af;
  --white: white;
  --black: #373744;
  --ars: #7908ff;
  --btc: #feb402;
  --eth: #333333;
  --usdc: #2776ca;
  --dai: #fd024f;
  --ltc: #b9b9b9;
}
